

@font-face { font-family: MyFont; src: url('fonts/Tomatoes.ttf'); } 

* {
  margin: 0;
  padding: 0;
  font-family: Arial;

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* font-family: 'Inconsolata', sans-serif; */
}

.cadav {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width:auto;
  max-width: 400px;
  min-width: 200px;

}

.cadav-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
#cadav-input-line {
  width: 100%; /*300px son 40 char*/
  font-size: 20px;
  border: 0;
  background-color: white;
  height: 40px;
}
#cadav-input-writer {
  width: 40%; /*300px son 40 char*/
  font-size: 10px;
  border: 0;
  background-color: white;
  height: 25px;
}
.cadav input:focus{
  outline-color: white;
}

.cadav-btn {
  width: 40%;
  height: 40px;
  font-size: 20px;
  background-color:#cbffb1;
  margin: 0 auto;
}
.cadav-line {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cadav-line-txt {
  word-break: break-all;
  font-size: 15px;
}
.cadav-line-writer {
  color: grey;
  min-width: 60px;
  font-size: 10px;
}
.cadav-share {
  margin: 0 auto;
  width: 100px;
}
.cadav-title {
  font-family: Arial;
  text-align: center;
}


@media (max-width:300px) {

  #cadav-input {
    width: 100%;
  }
  .cadav-btn {
    width: 100%;
  }
} 

@keyframes wiggleanimation{
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(2deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
  }
  100%{
    border-radius: 0px;
  }
}

.cadav:hover{
      animation: wiggleanimation 1s linear 0.3s;
    }